{# templates/login/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 400px;
            margin: auto;
            margin-top: 50px;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
            color: #555;
        }

        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        button {
            background-color: #4CAF50;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #45a049;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>

    <div class="container">
        <h1>Page de connexion</h1>

        {% if app.session.flashbag.get('error') %}
            <p class="error-message">{{ app.session.flashbag.get('error')|default('') }}</p>
        {% endif %}

        {{ form_start(form) }}
        {{ form_widget(form) }}

        {# Ajoutez un bouton "Se connecter" #}
        <button type="submit">Se connecter</button>

        {{ form_end(form) }}

        {# Ajoutez le reste de votre contenu si nécessaire #}

        {% if userData %}
            <h1>Bienvenue, {{ userData['nom'] }} {{ userData['prenom'] }}!</h1>
            {# Ajoutez des messages de bienvenue ou d'autres contenus si nécessaire #}
        {% endif %}
    </div>
{% endblock %}
